@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Radio+Canada:wght@300;600;700&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Koulen", cursive;
  font-family: "Radio Canada", sans-serif;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgb(37, 37, 37);
  color: aliceblue;
}

.technologies li {
  list-style: none;
}

.technologies a {
  text-decoration: none;
  padding: 10px 20px;
  color: rgb(140, 140, 140);
}

.navbar {
  position: fixed;
  width: 100%;
  border-bottom: 12px;
  border-bottom-color: brown;
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: space-between;
  padding: 2em; /*espacio entre los bordes*/
}

.brand {
  margin-top: -7px;
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around; /*espacio entre las listas*/
}

.menu li {
  list-style: none;
}
.menu a {
  color: aliceblue;
  text-decoration: none;
  padding: 10px 20px;
}
.menu .active {
  color: aliceblue;
}

.menu a:hover {
  background-color: rgb(70, 13, 13);
  color: aliceblue;
  transition: ease-in 0.5s; /*animacion del boton tipo encender luz*/
}

.info-content p {
  font-size: 1.5em;
}

.main img {
  margin-left: 7em;
  border-radius: 60%;
  width: 500px;
  height: 500px;
  border: 7px solid rgb(57, 57, 57);
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 50vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center; /*alinear texto con la imagen*/
}

h1 {
  font-size: 3em;
}

span {
  color: rgb(121, 40, 40);
}

.download-cv {
  padding: 10px 20px;
  color: aliceblue;
  background-color: rgb(94, 33, 33);
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(100, 50, 50, 50);
}
html {
  scroll-behavior: smooth;
}

.download-cv:hover {
  background-color: rgb(100, 100, 100);
  color: aliceblue;
  box-shadow: none;
}

.about {
  display: grid;
  margin-top: 70px;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
  height: 100vh;
  align-items: center;
  margin: 0 auto;
}

.about img {
  width: 80%;
  margin-left: 45px;
}

.about-info {
  padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: rgb(37, 37, 37);
}

.divider {
  height: 4px;
  width: 60px;
  background-color: rgb(70, 13, 13);
  margin-top: 5px;
  margin-bottom: 2.5em;
}

.about p {
  margin-bottom: 1em;
}

/*portfolio*/

.portfolio {
  width: 100vw;
  height: 100vh;
  background-color: rgb(37, 37, 37);
}

.portfolio-headings {
  width: 100vw;
  padding: 5em;
}

.portfolio-headings h2 {
  font-size: 2.5em;
  color: aliceblue;
}

.portfolio .container {
  width: 80vw;
  height: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  color: aliceblue;
  height: 350px;
  background-color: rgb(69, 69, 69);
  margin: 1em;
}

.card_img {
  width: 100%;
  /* opacity: 50%;transparencia */
  height: 150px;
  background-image: url(https://i.guim.co.uk/img/media/b563ac5db4b4a4e1197c586bbca3edebca9173cd/0_12_3307_1985/master/3307.jpg?width=1020&quality=85&auto=format&fit=max&s=9dbc7c10980d174e67725b5cacf3c3a2);
  background-size: cover; /*abarcar el total asignado*/
}

.card_img-2 {
  width: 100%;
  height: 150px;
  background-image: url(https://www.egames.news/__export/1638809435218/sites/debate/img/2021/12/06/cxmo_conseguir_a_charmanderx_charmeleonx_charizard_en_pokxmon_diamante_brillante_y_perla_reluciente.jpg_423682103.jpg);
  background-size: cover;
}

.card_img-3 {
  width: 100%;
  height: 150px;
  background-image: url(https://static.elcorreo.com/www/multimedia/202103/04/media/cortadas/bitcoin-criptomonedas-que-son-como-comprar-2021-kOGG-U130689965568SbH-1248x770@El%20Correo.jpg);
  background-size: cover;
}

.card_img-4 {
  width: 100%;
  height: 150px;
  background-image: url(https://img.freepik.com/vector-gratis/veterinario-medico-perro-gato-mostrador-clinica-veterinaria_36082-523.jpg?w=2000);
  background-size: cover;
}

.card-title {
  padding: 20px;
  text-align: center;
}

.card_proyect-links {
  display: flex;
  justify-content: space-evenly; /*para el espacio entre iconos*/
}

.card_proyect-links a {
  color: aliceblue;
  text-decoration: none;
}

.card_proyect-links i {
  font-size: 1.5em;
}

.card .project-details {
  margin: 0 auto;
  margin: 1em;
  width: 50%;
}

.card .project-details a {
  text-decoration: none;
  color: aliceblue;
  text-transform: uppercase; /*lo pasa a mayusculas*/
}

.proyect-detail-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}

/*aqui se salta 170 linead de codigo en CSS*/
.contact-section {
  width: 80vw;
  height: 90vv;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 0 auto;
}

.container-contact {
  padding: 3em;
  margin: 0 auto;
}

.contact-heading h2 {
  font-size: 3em;
}

.container-contact img {
  width: 500px;
  height: 500px;
  bottom: 0px;
}

.contact form {
  display: grid;
}

.form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

.form input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(37, 37, 37);
  color: rgb(0, 0, 0);
}

.form textarea {
  height: 150px;
  background: none;
  color: black;
  padding: 1.5em;
  border: 1px solid rgb(37, 37, 37);
}

.btn-submit {
  padding: 10px 20px;
  color: aliceblue;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: rgb(37, 37, 37);
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(100, 50, 50, 50);
}

.btn-submit:hover {
  background-color: rgb(70, 13, 13);
  box-shadow: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: rgb(37, 37, 37);
}

.footer-content h2 {
  font-size: 3em;
  color: aliceblue;
}

.social-network i,
.footer-content h5 {
  font-size: 1.5em;
  color: aliceblue;
}

.social-network {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}
