@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Radio+Canada:wght@300;600;700&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Koulen", cursive;
  font-family: "Radio Canada", sans-serif;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 640px) {
  #home {
    height: 195vh;
  }
}

.wrapper {
  width: 100vw;
  height: 105vh;
  background-color: rgb(37, 37, 37);
  color: aliceblue;
}

.technologies li {
  list-style: none;
}

.technologies a {
  text-decoration: none;
  padding: 10px 20px;
  color: rgb(140, 140, 140);
}

.technologies a:hover {
  color: rgb(0, 0, 0);
}

.navbar {
  position: fixed;
  width: 100%;
  /* margin-bottom: 16px; */
  border-bottom-color: brown;
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: space-between;
  padding: 2em; /*espacio entre los bordes*/
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-around; /*espacio entre las listas*/
}

.menu li {
  list-style: none;
}
.menu a {
  color: aliceblue;
  text-decoration: none;
  padding: 10px 20px;
}
.menu .active {
  color: aliceblue;
}

.menu a:hover {
  background-color: rgb(70, 13, 13);
  color: aliceblue;
  transition: ease-in 0.5s; /*animacion del boton tipo encender luz*/
}

.info-content p {
  margin-top: 16px;
  font-size: 1.5em;
}

.main-img {
  align-items: center;
  display: flex;
  justify-content: center;
}

.main img {
  margin-left: 3em;
  border-radius: 50%;
  width: 60%;
  /* height: 500px; */
  border: 7px solid rgb(57, 57, 57);
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 30vw;
  align-items: center; /*alinear texto con la imagen*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));

  /* grid-template-columns: repeat(auto-fill, minmax(min(100%, 40rem), 2fr)); */
}

h1 {
  font-size: 3em;
}

span {
  color: rgb(121, 40, 40);
}

.download-cv {
  padding: 10px 20px;
  color: aliceblue;
  background-color: rgb(94, 33, 33);
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(100, 50, 50, 50);
}
html {
  scroll-behavior: smooth;
}

.download-cv:hover {
  background-color: rgb(100, 100, 100);
  color: aliceblue;
  box-shadow: none;
}

/*Tecnologias*/

.about {
  display: grid;
  margin-top: 70px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100vw;
  height: 100vh; /*adaptar queryes*/
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 640px) {
  #grid-tec {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  }
}
@media (max-width: 900px) {
  .about {
    height: 170vh;
  }
}

.grid-tec {
  display: grid;
  align-items: center; /*alinear texto con la imagen  60px*/
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.about img {
  width: 100%;
}

.about-info {
  padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: rgb(37, 37, 37);
}

.divider {
  height: 4px;
  width: 60px;
  background-color: rgb(70, 13, 13);
  margin-top: 5px;
  margin-bottom: 2.5em;
}

.about p {
  margin-bottom: 1em;
}

/*portfolio*/

.portfolio {
  width: 100vw;
  height: 140vh; /*adaptar a mediaquerys*/
  background-color: rgb(37, 37, 37);
}

@media (max-width: 1500px) {
  .portfolio {
    height: 200vh; /*adaptar a mediaquerys*/
  }
}

@media (max-width: 1124px) {
  .portfolio {
    height: 260vh; /*adaptar a mediaquerys*/
  }
}

@media (max-width: 749px) {
  .portfolio {
    height: 430vh; /*adaptar a mediaquerys*/
  }
}

@media (max-width: 640px) {
  .portfolio {
    height: 645vh; /*adaptar a mediaquerys*/
  }
}

.portfolio-headings {
  padding: 5em;
}

.portfolio-headings h2 {
  font-size: 2.5em;
  color: aliceblue;
}

.container {
  width: 80vw;
  height: 40vw;
  margin: 0 auto;
  justify-content: center;
  display: grid;
  align-items: center; /*alinear texto con la imagen*/
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  width: 280px; /*ajustar media querys*/
  color: aliceblue;
  height: 510px;
  background-color: rgb(69, 69, 69);
  margin: 1em;
}

.card_img {
  width: 100%;
  /* opacity: 50%;transparencia */
  height: 150px;
  background-image: url(https://i.guim.co.uk/img/media/b563ac5db4b4a4e1197c586bbca3edebca9173cd/0_12_3307_1985/master/3307.jpg?width=1020&quality=85&auto=format&fit=max&s=9dbc7c10980d174e67725b5cacf3c3a2);
  background-size: cover; /*abarcar el total asignado*/
}

.card_img-2 {
  width: 100%;
  height: 150px;
  background-image: url(https://www.egames.news/__export/1638809435218/sites/debate/img/2021/12/06/cxmo_conseguir_a_charmanderx_charmeleonx_charizard_en_pokxmon_diamante_brillante_y_perla_reluciente.jpg_423682103.jpg);
  background-size: cover;
}

.card_img-3 {
  width: 100%;
  height: 150px;
  background-image: url(https://static.elcorreo.com/www/multimedia/202103/04/media/cortadas/bitcoin-criptomonedas-que-son-como-comprar-2021-kOGG-U130689965568SbH-1248x770@El%20Correo.jpg);
  background-size: cover;
}

.card_img-4 {
  width: 100%;
  height: 150px;
  background-image: url(https://img.freepik.com/vector-gratis/veterinario-medico-perro-gato-mostrador-clinica-veterinaria_36082-523.jpg?w=2000);
  background-size: cover;
}

.card_img-5 {
  width: 100%;
  height: 150px;
  background-image: url(https://mundocontact.com/wp-content/uploads/2018/08/computadora-tienda.jpg);
  background-size: cover;
}

.card_img-6 {
  width: 100%;
  height: 150px;
  background-image: url(https://marketing4ecommerce.net/wp-content/uploads/2020/11/nueva-portada-enero-20.jpg);
  background-size: cover;
}

.card_img-7 {
  width: 100%;
  height: 150px;
  background-image: url(https://www.desarrollolibre.net/public/images/example//css/loaders-css.gif);
  background-size: cover;
}

.card-title {
  padding: 20px;
  text-align: center;
}

.card_proyect-links {
  display: flex;
  justify-content: space-evenly; /*para el espacio entre iconos*/
}

.card_proyect-links a {
  color: aliceblue;
  text-decoration: none;
}

.card_proyect-links i {
  font-size: 1.5em;
}

.card .project-details {
  margin: 0 auto;
  margin: 1em;
  width: 50%;
}

.card .project-details a {
  text-decoration: none;
  color: aliceblue;
  text-transform: uppercase; /*lo pasa a mayusculas*/
}

.proyect-detail-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}

/*Contacto*/

.contact-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
}

.contact-heading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.contact-heading img {
  width: 50%;
}

.container-contact {
  padding: 3em;
  margin: 0 auto;
  text-align: center;
}

.contact-heading h2 {
  font-size: 3em;
}

.contact form {
  display: grid;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

.form input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(37, 37, 37);
  color: rgb(0, 0, 0);
}

.form textarea {
  height: 200px;
  width: 350px;
  background: none;
  color: black;
  padding: 1.5em;
  border: 1px solid rgb(37, 37, 37);
}

.btn-submit {
  padding: 10px 20px;
  color: aliceblue;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: rgb(37, 37, 37);
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(100, 50, 50, 50);
}

.btn-submit:hover {
  background-color: rgb(70, 13, 13);
  box-shadow: none;
}

/*footer*/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: rgb(37, 37, 37);
}

.footer-content h2 {
  font-size: 3em;
  color: aliceblue;
}

.social-network i,
.footer-content h5 {
  font-size: 1.5em;
  color: aliceblue;
}

.social-network {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.email {
  margin-top: 13px;
  color: aliceblue;
}
